# Imports

In [1]:
import pandas as pd

# Constants

In [4]:
HAO_DATASET = "../data/hao.csv"
KOTLIAROV_DATASET = "../data/kotliarov.csv"

# Datasets

What we have:

- Rows: Cell barcodes (e.g. AAACCTGAGAGCCCAA_H1B1ln1)
- Columns: Genes — z-scored expression levels
- 168 columns → includes all 167 signature genes and a label column at the end

## Reference

In [5]:
df_hao = pd.read_csv(HAO_DATASET, index_col=0)
df_hao.shape

(151533, 168)

In [6]:
df_hao.head()

,MMP23B,TNFRSF25,CDA,CNR2,FGR,TTC39A,CD160,S100A9,S100A12,S100A8,...,KIR2DL4,IGLL5,VPREB3,DERL3,XBP1,APOBEC3A,APOBEC3G,TNFRSF13C,S100B,label
L1_AAACCCAAGAAACTCA,0.0,0.00000,0.654385,0.0,0.654385,0.0,0.000000,4.546691,1.046588,2.412653,...,0.0,0.0,0.0,0.0,0.654385,0.654385,0.000000,0.0,0.0,Mono
L1_AAACCCAAGACATACA,0.0,1.48402,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,T CD4
L1_AAACCCACAACTGGTT,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1.089758,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,T CD8
L1_AAACCCACACGTACTA,0.0,0.00000,0.000000,0.0,0.000000,0.0,1.644584,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,1.127986,0.000000,2.236201,0.0,0.0,NK
L1_AAACCCACAGCATACT,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,T CD8

In [7]:
df_hao.columns[-5:]

Index(['APOBEC3A', 'APOBEC3G', 'TNFRSF13C', 'S100B', 'label'], dtype='object')

## Validation

In [8]:
df_kotliarov = pd.read_csv(KOTLIAROV_DATASET, index_col=0)
df_kotliarov.shape

(52849, 168)

In [9]:
df_kotliarov.head()

,MMP23B,TNFRSF25,CDA,CNR2,FGR,TTC39A,CD160,S100A9,S100A12,S100A8,...,KIR2DL4,IGLL5,VPREB3,DERL3,XBP1,APOBEC3A,APOBEC3G,TNFRSF13C,S100B,label
AAACCTGAGAGCCCAA_H1B1ln1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,1.998993,...,0.0,0.0,0.0,0.0,1.998993,0.0,0.0,0.0,0.0,NK
AAACCTGAGGCGTACA_H1B1ln1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,T CD8
AAACCTGCAGGTGGAT_H1B1ln1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,T CD4
AAACCTGCAGTATCTG_H1B1ln1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,T CD4
AAACCTGCATCACAAC_H1B1ln1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.86536,4.104208,5.992176,...,0.0,0.0,0.0,0.0,1.940104,0.0,0.0,0.0,0.0,Mono

In [10]:
df_kotliarov.columns[-5:]

Index(['APOBEC3A', 'APOBEC3G', 'TNFRSF13C', 'S100B', 'label'], dtype='object')